<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body style="background-color: #FF99CC">

    {% if logiran %}
        <h1>Hello, SmartNinja! {{ users.nickname() }}</h1>

        <form method="post" action="/bmail">
            <a href="/prejeto">Prejeta sporocila</a><br>
            <a href="/novo_sporocilo">Novo sporocilo</a><br>
            <a href="/poslano">Poslana sporocila</a><br>
            <a href="/vreme">Vreme</a>
        </form>

        <p><a href="{{ logout_url }}">Odjava</a></p>

    {% else %}
            <h1>Hello anonimna ninja!</h1>

            <p>Prosim prijavi se: <a href="{{ login_url }}">Prijava</a></p>

    {% endif %}

</body>
</html>